*.py[cod]
__pycache__
*.so
build/
dist/
dev/
dev_pyQt/
*.egg-info
/tests/image_comparison
*plot_multiproc*
*multiproc_calc*
*_local_test*
*_temp*
/tests/known_fails/_data/
tests/_images_comparison/
examples/*
\!examples/*.py
