*.py[cod]
__pycache__
*.so
build/
dist/
dev/
dev_pyQt/
*.egg-info
*plot_multiproc*
*multiproc_calc*
*_local_test*
*_temp*

# ignore temporary files in tests - keep REFERENCE_DATA !
/tests/image_comparison
/tests/known_fails/_data/
tests/_images_comparison/

# ignore the files in examples folders except those matching extensions
examples/**/*.*
!examples/**/*.py
!examples/**/*.rst

# ignore the doc build files includes _template (not a _temp !)
docs/examples/
docs/_build/
!docs/_templates

# ignore the movie doc files except *.py
docs/movies/
!docs/movies/*.py

# Other specific files
TODO
setup.py.SAVED
docs/conf.py.orig
src/fractalshades/mpmath_utils/FP_loop.c

