# Below are listed extra files to include in the source distribution
graft src/fractalshades
prune src/fractalshades/gui/_local_test
prune src/fractalshades/numpy_utils/_local_test
prune src/fractalshades/colors/_local_test
# Tests
graft tests
prune tests/_temporary_data
prune tests/known_fails
# Examples
recursive-include examples* *.py *.rst
# Global exclusions
global-exclude *.py[cod] __pycache__ *.so *.c

