# Below are listed extra files to include in the source distribution
# Tests
recursive-include tests *
recursive-exclude tests/_images_comparison *
recursive-exclude tests/known_fails/_data *
# Examples
recursive-include examples* *.py
# Global exclusions
global-exclude *.py[cod] __pycache__ *.so
